@import "../../index.scss";

.card{
    background-color: $mainGrey;
    box-shadow: 0 5px 15px $mainBlack !important;
}
.btn-secondary{
    background-color: $mainGreen !important;
    border: none !important;
    &:hover{
        background-color: transparent !important;
        transition: all 0.3s linear;
        color: $mainGreen;
        box-shadow: 0 5px 15px $mainGreen !important;
        transition: box-shadow 0.3s ease-in-out;
    }
}
.card:hover{
    margin-top:1rem !important;
    transition: all 0.3s linear;
}
.card-link{
    color: $mainGrey !important;
    text-transform: capitalize;
    text-decoration: none;
    transition: all 0.3s linear; 
    &:hover{
        color: $mainGreen !important;
    }
}